.Types {
  position: relative;
}

.Jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: -5rem;

  cursor: pointer;
}

.job {
  width: 32px;
  height: 32px;
}

.FormatButton {
  position: absolute !important;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
}

.FormControl {
  display: flex !important;
  flex-direction: row !important;
}
